<div class="col-12">
    <div class="">
        <h2 class="mt-3 text-center setTitle">
            {{title}}
        </h2>
        <div class="row">
            <ng-content></ng-content>
               
                    <div *ngIf="!isPrint"  class="col-md-5 col-sm-12">
                        <label>Pesquise por CPF ou numero da inscrição</label>
                        <input 
                        type="text" 
                        class="form-control search"
                        (input)="formatCpf($event)"
                        placeholder="Pesquise...">
                        <label style="visibility: hidden;">Pesquise por CPF ou numero da inscrição...</label>
                    </div>
                    <div class="col-md-2 col-sm-12 d-flex align-items-center">
                        
                        <button *ngIf="!isBtnLoadingData&&!isPrint" class="btn btn-success w-100 p-2" (click)="loadData()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg>
                        </button>
                        <button *ngIf="isBtnLoadingData&&!isPrint" type="submit" class="btn btn-primary w-100 p-1">
                            <div class="spinner-border text-warning m-0" role="status"></div>
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-12">
    
                    </div>
        <hr>
        <div class="col-md-6 col-sm-12">
            <div *ngIf="formData.id" class="form-group required mb-3 col-12">
                <label>Inscrição</label>
                <input [value]="formData.id?formData.id:''" [disabled]="isBtnLoading||isFielddisabled" type="text" class="form-control validate" placeholder="Informe seu cargo...">
                <small hidden  class="text-danger">Ops! Precisa informar o cargo!</small>
            </div>
            <div class="form-group required mb-3 col-12">
                <label >Nome completo</label>
                <input [value]="formData.name?formData.name:''" maxlength="250" (input)="realTimeValidateNameInput($event)" [disabled]="isBtnLoading" type="text" class="form-control validate" placeholder="Digite seu nome...">
                <small hidden  class="text-danger">Ops! Precisa informar o nome!</small>
            </div>
            <div class="form-group required mb-3 col-12 ">
                <label >Endereço</label>
                <input [value]="formData.address?formData.address:''" maxlength="250" [disabled]="isBtnLoading" type="text" class="form-control validate" placeholder="Digite seu endereço...">
                <small hidden  class="text-danger">Ops! Precisa informar o endereço!.</small>
            </div>
            <div class="form-group required mb-3 col-12">
                <label >Cargo</label>
                <input [value]="formData.job?formData.job:''" [disabled]="isBtnLoading||isFielddisabled" maxlength="250" type="text" class="form-control validate" placeholder="Informe seu cargo...">
                <small hidden  class="text-danger">Ops! Precisa informar o cargo!</small>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div *ngIf="formData.date" class="row">
                <div class="form-group required mb-3 col-6">
                    <label >Situação</label>
                <input [value]="formData.status" [disabled]="isBtnLoading||isFielddisabled" type="text" class="form-control validate" placeholder="Informe seu cargo...">
                <small hidden  class="text-danger">Ops! Precisa informar o cargo!</small>
                    
                </div>
                <div class="form-group required mb-3 col-6">
                    <label >Data Inscrição</label>
                    <input [value]="formatDate(formData.date)" [disabled]="isBtnLoading||isFielddisabled" type="text" class="form-control validate" placeholder="Informe seu cargo...">
                    <small hidden  class="text-danger">Ops! Precisa informar o cargo!</small>
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-12">
                    <label >CPF</label>
                    <input 
                    [disabled]="isBtnLoading||isFielddisabled"
                    type="text" 
                    id="cpf"
                    class="form-control validate-cpf"
                    [value]="formData.CPF?maskCpf(formData.CPF):''"
                    (input)="formatCpf($event)"
                    placeholder="Informe seu CPF...">
                    <small hidden  class="text-danger">Ops! Precisa informar o CPF!</small>  
                </div>
                <div class="form-group required mb-3 col-6">
                    <label >Estado</label>
                    <select [disabled]="isBtnLoading" 
                    class="form-select validate" (change)="onSelectedState($event)"
                   id="state"
                    >
                        <option value=""></option>
                        <option *ngFor="let s of states" [value]="s.estado_id">{{s.nome}}</option>
                    </select>
                    <small hidden  class="text-danger">Ops! Precisa informar um estado!</small>
                </div>
                <div class="form-group required mb-3 col-6">
                    <label >Cidade</label>
                    <select [disabled]="isBtnLoading" class="form-select validate" id="city">
                        <option value=""></option>
                        <option *ngFor="let c of selectedCities" [value]="c.cidade_id">{{c.nome}}</option>
                    </select>
                    <small hidden  class="text-danger">Ops! Precisa informar uma cidade!</small>
                    
                </div>
            </div>
        </div>
      
        <hr>
       
            <div class="col-md-8 col-sm-1">

            </div>
            <div class="col-md-4 col-sm-5">
                <button *ngIf="!isBtnLoading&&!isPrint" type="submit" class="btn btn-success w-100 p-2" (click)="submit()">{{submitTile}}</button>
                <button *ngIf="isBtnLoading&&!isPrint" type="submit" class="btn btn-success w-100 p-1">
                    <div class="spinner-border text-warning" role="status">
                  </div></button>
            </div>
            <div class="col-12 mt-5">

            </div>
        
    </div>
</div>