<div class="container p-3 root-home">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header bg-white">
            <h5 class="card-title">
              <i class="fa fa-list-ul" style="font-size:16px; color: #0066cc;"></i>
              NOTÍCIAS
            </h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 corpo">
                <p>
                  <b>Abertura das Inscrições</b>
                  
                </p>
                <hr>
                <p>
                    Estão abertas as inscrições do Concurso Público destinado ao provimento da vaga de Desenvolvedor de Software.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header bg-white">
            
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 corpo">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th colspan="2" class="titulo"><b>PUBLICAÇÕES</b></th>
                    </tr>
                    <tr>
                      <th width="60%"><strong>Descrição</strong></th>
                      <th width="40%"><strong>Data</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2">&nbsp;</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  