.root-nav{
    border-left: 1px solid rgba(94, 91, 91, 0.178);
    border-right: 1px solid rgba(94, 91, 91, 0.178);
    background-color: var(---secondary-color);
}

.nav-item{
    position: relative;
}
.nav-item div{
    position: absolute;
    left: 50%;
    bottom: 0;
    display: none;
    width: 55px;
    height: 3px;
    transform: translateX(-50%);
    background-color: var(---primary-color);
}

@media print{
    .root-nav{
        display: none;
    }
}