
:root{
  //color-general
---color-primary: rgb(219, 219, 219);
---color-hr: gray;


}




body{
  background-color: var(---color-primary);
}

*{
  font-family: sans-serif;
  
}

.required::before {
    content: "*";
    margin-right: 5px;
  }



  