
:root{
  //color-general
---color-primary: rgb(219, 219, 219);
---color-hr: gray;


}

*{
  font-family: sans-serif;
  
}



body{
  background-color: var(---color-primary);
}


.required::before {
    content: "*";
    margin-right: 5px;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(---color-hr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(#353535);
}
@media print {
  @page {
    size: tabloid;
  }
}



  