<div class="container m-4 root-edital">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-light titulo">
            <i class="fa fa-file" style="font-size:16px; color: #0066cc;"></i>
            <b>EDITAL</b>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td><span class="linkEdital">[ 10/05/2023 ]</span></td>
                    <td><a href="assets/files/Requisitos.pdf" target="_blank" class="linkEdital">Requisitos 001/2023</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  