
    <div class="root">
        <section class="container">
            <header class="mb-2 mt-5 row col-12 text-center">
                <h1 class="col-12 setTitle">Concurso Público para Desenvolvedor de Software</h1> 
            </header>
            
            <main class="m-3" *ngIf="states.length">
                <app-form 
                [title]="formTile" 
                [submitTile]="submitTile" 
                (dataForm)="onSubmit($event)"
                (showData)="showData($event)"
                [showDataForm]="showDataForm"
                [btnLoading]="isBtnLoading"
                [cities]="cities"
                [states]="states"
                ></app-form>
            </main>
            
            <footer>
                <app-snackbar [showSnacbar]="showSnacbar"></app-snackbar>
            </footer>
        </section>
    </div>


